<html>

<head>
    <title>Sign in</title>
    <link rel="stylesheet" href="client.css">
</head>

<body>
<div class="container">
    <p class="banner" align="center">Sign Up</p>
    <form class="form1">
        <input class="form-control wbdv-field wbdv-username" type="text" align="center" placeholder="Username">
        <input class="form-control wbdv-password" type="password" align="center" placeholder="Password">
        <input class="form-control wbdv-password-verify" type="password" align="center" placeholder="Verify Password">
        <a class="wbdv-button wbdv-register" align="center" href="/profile/template/client.html">Sign Up</a>
        <p class="wbdv-link wbdv-login" align="center"><a href="/login/template/client.html">Login</a></p>
    </form>
</div>
</body>

</html>
