<html>

<head>
    <title>Sign in</title>
    <link rel="stylesheet" href="client.css">
</head>

<body>
<div class="container">
    <p class="banner" align="center">Sign In</p>
    <form class="form1">
        <input class="form-control wbdv-field wbdv-username" type="text" align="center" placeholder="Username">
        <input class="form-control wbdv-password" type="password" align="center" placeholder="Password">
        <a class="wbdv-button wbdv-login" align="center">Sign in</a>
        <p class="wbdv-link wbdv-register" align="center"><a href="/register/template/client.html">Sign Up</p>
        <p class="wbdv-link wbdv-forgot-password" align="center"><a href="#">Forgot Password?</p>
</div>
</body>

</html>
