.nav-heading {

    font-size: 23px;
    font-weight: bold;
}

.navbar-brand{
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.add-button{

    border-radius: 50px !important;
    text-align: center;
    font-size: 20px !important;
    font-weight: 900 !important;
}

.header{
    background: lightgray;
    height: 40px;
}
.header-content{
    font-size:18px;
    height: 30px;
    bottom:0;
    width:100%;
    vertical-align: bottom;
}

.current-layout{
    display: none !important;
}

.noborder{
    border:0px solid transparent !important;
}
